pkgbase = rocprim
	pkgdesc = Header-only library providing HIP parallel primitives
	pkgver = 5.7.1
	pkgrel = 1
	url = https://codedocs.xyz/ROCmSoftwarePlatform/rocPRIM
	arch = x86_64
	license = MIT
	makedepends = rocm-cmake
	depends = hip
	source = rocprim-5.7.1.tar.gz::https://github.com/ROCmSoftwarePlatform/rocPRIM/archive/rocm-5.7.1.tar.gz
	sha256sums = 15d820a0f61aed60efbba88b6efe6942878b02d912f523f9cf8f33a4583d6cd7

pkgname = rocprim
